<!-- <div>
  <h2>Upload Excel File</h2>
  <input type="file" (change)="onFileSelected($event)">
  <button (click)="uploadFile()">Upload</button>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  </div>
</div>
</div> -->
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header">Carga de Documento.</h1>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h2 class="card-title">Planilla de Pago</h2>
            <p class="card-text">Debe de llenar la planilla con los campos que se requieren.</p>
            <input type="file" (change)="onFileSelected($event)">
            <!-- <a href="#" class="btn btn-primary">Elegir archivo</a> -->
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-secondary" (click)="downloadTemplate()">Descargar Plantilla <img
              height="30" style="margin-left: 5px;    margin-top: 10px;"><mat-icon>save_alt</mat-icon></button>
          </div>
        </div>

      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-8">
        <form>
          <div class="mb-12">
            <label for="exampleInputEmail1" class="form-label">Email para copia de correo:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="emailCopiaEnvio"  name="emailCopiaEnvio">
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success" (click)="uploadFile()" [disabled]="!envioGrupal">  <p>Enviar Comprobante <mat-icon class="mat-icon-rtl-mirror">mail</mat-icon></p></button>
      </div>
    </div>
    <br>
    <div class="row">
      <table class="table table-hover"  *ngIf="data.length > 0">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Neto Recibido</th>
            <th>PDF</th>
            <th>Enviar de Nuevo</th>
            <th>Enviado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datos of data; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{datos.nombre}}</td>
            <td>{{datos.correo}}</td>
            <td>{{datos.neto_recibido}}</td>
            <td><button type="button" class="btn btn-primary" (click)="generatePDF(datos)">Generar PDF</button></td>
            <td><button type="button" class="btn btn-primary" (click)="EnviarDenuevo(datos,i)">Enviar</button></td>
            <td  *ngIf="datos.alerta==false"> <p style="color: rgb(197, 0, 0);"><mat-icon class="mat-icon-rtl-mirror">cancel</mat-icon></p></td>
            <td  *ngIf="datos.alerta==true"> <p style="color: rgb(4, 191, 54);"><mat-icon class="mat-icon-rtl-mirror">check_circle</mat-icon></p></td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>